:javascript
  jQuery(function() {
    jQuery("#search-form")
      .bind("ajax:complete", function(et, e) {
        jQuery("#add-encounter-event-condition-choice-#{@encounter_event.id}").html(e.responseText);
      });
  });

= form_tag '/main/search_result', :id => 'search-form', :remote => true do
  %span.field= text_field_tag :name
  %span.actions= submit_tag 'Search'