.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

.icon-button {
  margin: 0px 5px;
  padding: 0px -5px; }

.notice {
  margin: 5px 0px;
  padding: 5px 5px; }

.tab-title {
  padding: 5px 0px;
  font-weight: bold;
  font-size: 2em; }

.tab-section {
  padding: 10px 0px; }

.tab-section-title {
  padding: 5px 0px;
  font-weight: bold;
  font-size: 1.5em; }

.tab-sub-section {
  padding: 10px 0px; }
