/* General classes to apply specific css features.
 */
/* Display classes. */
.hidden {
  display: none; }

/* Float classes. */
.float-left {
  float: left; }

.float-right {
  float: right; }

.clear-both {
  clear: both; }

/* Margins, padding, and other spacing. */
.margined {
  margin: 5px; }

/* Text alignment. */
.align-center {
  text-align: center; }

/* Common page layout classes.
 */
.icon-button {
  margin: 0px 5px;
  padding: 0px -5px; }

.notice {
  margin: 5px 0px;
  padding: 5px 5px; }

.tab-title {
  padding: 10px 0px;
  font-weight: bold;
  font-size: 2em; }

.tab-section {
  padding: 10px 0px; }

.tab-section-title {
  padding: 10px 0px;
  font-weight: bold;
  font-size: 1.5em; }

.tab-sub-section {
  padding: 10px 0px; }

/* Alterations to the standard formatting for HTML tags.
 */
textarea {
  height: 10em;
  width: 40em; }

/* ID styling for /layout and /shared views.
 */
#footer {
  margin-top: 5px; }
