<h1>Editing encounter_event_skill_check_condition</h1>

<%= render 'form' %>

<%= link_to 'Show', @encounter_event_skill_check_condition %> |
<%= link_to 'Back', encounter_event_skill_check_conditions_path %>
