= render :partial => 'shared/tab_title_with_load_in_active_tab_button', :locals => {:title_text => "Editing \"#{@adventure.name}", :id_text => "edit-adventure-cancel-button", :url => adventure_show_basics_path(@adventure)}

= render 'form'


