:javascript
  jQuery(function() {
    createLoadInActiveTabButton(jQuery('#edit-adventure-cancel-button'), '#{adventure_show_basics_path(@adventure)}');
  });

%div
  .tab-title.float-left= "Editing \"#{@adventure.name}\""
  #edit-adventure-cancel-button.float-left.margined Cancel
  .clear-both

= render 'form'


