= render :partial => 'shared/tab_title_with_load_in_active_tab_button', :locals => {:title_text => "Editing #{@encounter.name}", :id_text => "edit-encounter-#{@encounter.id}-cancel-button", :url => encounter_path(@encounter)}

= render 'form'


