<h1>Editing encounter_event_miscellaneous_condition</h1>

<%= render 'form' %>

<%= link_to 'Show', @encounter_event_miscellaneous_condition %> |
<%= link_to 'Back', encounter_event_miscellaneous_conditions_path %>
