:javascript
  jQuery(function() {
    jQuery(".title-bar-breadcrumb").button();
    
    jQuery(".nav-button").button();
  });

#header
  - if @title
    - @title_elements ||= []
    - @title_elements << @title
  - if @title_elements
    - @title_elements.each do |title_element|
      .title-bar-breadcrumb.float-left= (title_element.instance_of? String) ? title_element : (link_to title_element.pretty_name, title_element)
  #navigation.float-right
    %a#your-worlds-nav-button.nav-button{:href => root_path(:tab => 0)} Your Worlds
    %a#your-adventures-nav-button.nav-button{:href => root_path(:tab => 1)} Your Adventures
    %a#search-nav-button.nav-button{:href => root_path(:tab => 2)} Search
    %a#logout-nav-button.nav-button{:href => destroy_user_session_path} Logout

  .clear-both

  - if notice
    .notice.ui-widget
      .ui-state-highlight.ui-corner-all
        .ui-icon.ui-icon-info.float-left.margined
        .float-left.margined= notice
        .clear-both
        
  - if alert
    .notice.ui-widget
      .ui-state-highlight.ui-corner-all
        %span.ui-icon.ui-icon-info
        %span Alert:
        %span= alert