:javascript
  jQuery(function() {
    jQuery("#title-bar").button();
    
    jQuery("#your-worlds-nav-button").button();
    jQuery("#your-adventures-nav-button").button();
    jQuery("#logout-nav-button").button();
  });

#header
  - if @title
    #title-bar.float-left= @title
  #navigation.float-right
    %a#your-worlds-nav-button{:href => root_path(:tab => 0)} Your Worlds
    %a#your-adventures-nav-button{:href => root_path(:tab => 1)} Your Adventures
    %a#logout-nav-button{:href => destroy_user_session_path} Logout

  .clear-both

  - if notice
    .notice.ui-widget
      .ui-state-highlight.ui-corner-all
        %span.ui-icon.ui-icon-info = notice
        
  - if alert
    .notice.ui-widget
      .ui-state-highlight.ui-corner-all
        %span.ui-icon.ui-icon-info
        %span Alert:
        %span= alert